.container{
    width: 100%;
    right: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    border-radius: 14px;
    width: 300px;
    margin: 24px 0;
    animation: ovini 4s;
    
}

@keyframes ovini{
    0%, 0%{
        transform: translate3d(0px, -900px, 0);
    }
}


.container h1{
    color: aliceblue;
}


.voltar{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    border-radius: 4px;
    padding: 10px 12px;
    box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.44);
    animation: slideY 3s;
    transition: 0.8s;
}

.voltar:hover{
    background-color: rgb(0, 237, 47);;
    transform: scale(1.05)
}

